
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About-iCOMET</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/basic.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js">	
<script type="text/javascript" src="js/home.js">	</script>
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
     .navbar-brand{margin-left:50px;border: 1px solid #fff;width: 100px;height: 40px;text-align: center;}
    ul{margin-left:50px;}
    ul li a{margin-right: 40px;color: #fff !important;}
    .navbar-toggler-icon{color:#fff !important;}
    .navbar-dark .navbar-toggler{border-color: white !important;}
    .nav_fix_pos {
            position:fixed;top:0px;left:0px;width:100%;
            background: blue;z-index:999;
        }
    </style>
    <script>
        $(document).ready(function(){
            var nav=$("#navtop"); //得到导航对象
            var win=$(window); //得到窗口对象
            var sc=$(document);//得到document文档对象。
            var navHeight = nav.offset().top;            
            win.scroll(function(){                            
              if(sc.scrollTop() >= navHeight){                                    
                    nav.addClass("nav_fix_pos");
              }else{
                    nav.removeClass("nav_fix_pos");                    
              };
            });
        });
    </script>
</head>
<body >

<div class="container-fluid" style="background-color:#FFFFFF;padding-left:0px;padding-right:0px;">
<!-- banner-->
	<div class="row-fluid" >
	<div class="col-md-12" style="padding-left:0px;padding-right:0px;" ><div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- 轮播（Carousel）指标 -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>   
	<!-- 轮播（Carousel）项目 -->
	<div class="carousel-inner" >
		<div class="item active" >
			<img src="../pics/slide1.png" alt="First slide"  class="img-responsive center-block">
			<div class="carousel-caption">标题 1</div>
		</div>
		<div class="item">
			<img src="../pics/slide2.png" alt="Second slide" class="img-responsive center-block">
			<div class="carousel-caption">标题 2</div>
		</div>
		<div class="item">
			<img src="../pics/slide3.png" alt="Third slide" class="img-responsive center-block">
			<div class="carousel-caption">标题 3</div>
		</div>
	</div>
	<!-- 轮播（Carousel）导航 -->
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	</a>
</div> </div>
	</div>
    <!-- navigation-->
		<div class="row-fluid">
		<div class="col-md-12"   style="padding-left:0px;padding-right:0px;margin-bottom:30px;"><!-- 导航栏 -->
	<nav class="navbar navbar-expand-md navbar-dark " id="navtop"style="padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px;text-align: center;background-color:#F5F5F5;">
		
		<button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#collapsibleNavbar" style="background-color:#00868B" >
            <!-- 方框里面三条线 -->
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar"style="text-align: center;background-color:#F5F5F5;">
			<ul class="navbar-nav" style="display: inline-block;float: none;" style="text-align: center;background-color:#F5F5F5;">
				<li class="active nav-item">
					<a class="nav-link" href="../home.html"><div class="text-primary"><b><font face="verdana"color="black" >HOME</font></b></div></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="about.html"><div class="text-primary"><b><font face="verdana"  >ABOUT</font></b></div></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="venue.html"><div class="text-primary"><b><font face="verdana"color="black" >VENUE</font></b></div></a>
				</li>
				<li class="nav-item">
				    <a class="nav-link" href="invited.html"><div class="text-primary"><b><font face="verdana"color="black" >INVITED SPEAKERS</font></b></div></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="programs.html"><div class="text-primary"><b><font face="verdana" color="black">PROGRAMS</font></b></div></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="abstract.html"><div class="text-primary"><b><font face="verdana"color="black">ABSTARCT</font></b></div></a>
				</li>        
				<li class="nav-item">
				    <a class="nav-link" href="rigistration.html"><div class="text-primary"><b><font face="verdana"color="black" >RIGISTRATION</font></b></div></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="accommodation.html"><div class="text-primary"><b><font face="verdana"color="black">ACCOMMDATION</font></b></div></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="committees.html"><div class="text-primary"><b><font face="verdana"color="black">COMMITTEES</font></b></div></a>
				</li> 
<li class="nav-item">
					<a class="nav-link" href="contact.html"><div class="text-primary"><b><font face="verdana"color="black">CONTACT</font></b></div></a>
				</li>                        
			</ul>
  </div>  

</nav></div></div>
<!-- content -->

		<div class="row-fluid" style="background-color:#FFFFFF">
		<div class="col-md-1" style="background-color:#FFFFFF"></div>
		<div class="col-md-6"  style="background-color:#FFFFFF">
		<h3 style="color:#00868B;">
			Vision of the iCOMET conference
			</h3>
			<div class="col-md-12" style="background-color:#FFFFFF;margin-bottom:15px;margin-top:15px;" >
			<p style="line-height:30px;text-align:justify; text-justify:inter-ideograph;text-indent:2em;padding-bottom:0px;margin-bottom:5px;">
				Knowledge on interactions between atoms and molecules is vital to our understanding of the nanoworld, which includes everything from combustion to molecular biology. Such interactions are best deciphered by studying energy transfer in dynamical processes. This field has developed by studies of energy transfer of small molecules in the gas-phase.  The goal is to obtain an atomic scale understanding of dynamical events controlling complex physical-chemical phenomena.
The field of molecular energy transfer has grown out of the study of simple systems especially studies of small molecules in the gas-phase. Today, this field is striving toward a fundamental understanding of more complex problems like molecular interactions at surfaces, in the condensed phase, biological molecules and even technology applications. This field is characterized by advanced experimental tools and a highly sophisticated level of theoretical analysis. By comparing experiment and theory at the most fundamental possible level, we seek an atomic scale understanding of complex phenomena as informative and detailed as has been proven to be possible for gas-phase binary collisions. This dynamical approach to studying complex phenomena remains a grand scientific challenge.


			</p>
		</div>
		<h3 style="color:#00868B;">
			History
			</h3>
			<div class="col-md-12" style="background-color:#FFFFFF;margin-bottom:15px;margin-top:15px;" >
			<p style="line-height:30px;text-align:justify; text-justify:inter-ideograph;text-indent:2em;padding-bottom:0px;margin-bottom:5px;">
				Previous iCOMET Meetings with the organizers; in addition to these iCOMET meetings Gordon Research Conference Meetings were held in between the iCOMET Meetings.


			</p>
		</div>
		<table class="table table-striped">
	<thead style="background-color:#00868B;">
		<tr style="color:#FFFFFF;">
			<th>YEAR</th>
			<th>LOCATION</th>
			<th>ORGANIZER</th>
			
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1979</td>
			<td>Rodez, France</td>
			<td>Magdeleine Huetz-Aubert</td>
			
		</tr>
<tr>
			<td>1983</td>
			<td>Cirencester, UK </td>
			<td>Anthony McCaffery</td>
			
		</tr>
		<tr>
			<td>1987</td>
			<td>Emmetten, Switzerland </td>
			<td>Martin Quack</td>
			
		</tr>
		<tr>
			<td>1991</td>
			<td>Nijmegen, Netherlands </td>
			<td>Jörg Reuss</td>
			
		</tr>
		<tr>
			<td>1995</td>
			<td>Kloster Banz, Germany </td>
			<td>Hans-Joachim Werner and Peter Andresen</td>
			
		</tr>
		<tr>
			<td>1999</td>
			<td>Assisi, Italy </td>
			<td>Antonio Laganà and Piergiorgio Casavecchia</td>
			
		</tr>
		<tr>
			<td>2003</td>
			<td>San Lorenzo de El Escorial, Spain </td>
			<td>Javier Aoiz, Luis Bañares and Miguel González</td>
			
		</tr>
		<tr>
			<td>2007</td>
			<td>Arcachon, France </td>
			<td>Michel Costes and Jean-Claude Rayez</td>
			
		</tr>
		<tr>
			<td>2011</td>
			<td>Oxford, UK </td>
			<td>Mark Brouard</td>
			
		</tr>
		<tr>
			<td>2015</td>
			<td>Chengdu, China </td>
			<td> Aart Kleyn and Xueming Yang</td>
			
		</tr>
		<tr>
			<td>2017</td>
			<td>Innsbruck, Austria </td>
			<td>Alec M. Wodtke and Roland Wester</td>
			
		</tr>
	</tbody>
</table>
		</div>
		
		<div class="col-md-4" style="background-color:#F5F5F5;padding-left:0px;padding-right:0px;" >
		<div class="col-md-12" style="background-color:#00868B;" >
		<h2 style="font-family: Impact, Arial;color:#FFFFFF;padding-top:20px;">
			Documents download
			</h2>
		
		</div>
		<div class="col-md-12" style="background-color:#F5F5F5;margin-bottom:15px;margin-top:15px;" >
			<p >
				documents links
			</p>
		</div>
		<div class="col-md-12" style="background-color:#00868B;" >
		<h2 style="font-family: Impact, Arial;color:#FFFFFF;padding-top:20px;">
			Quick links
			</h2>
		</div>
		<div class="col-md-12" style="background-color:#F5F5F5;margin-bottom:15px;margin-top:15px;" >
			<p >
				quick links
			</p>
		</div>
		<div class="col-md-12" style="background-color:#00868B;" >
		<h2 style="font-family: Impact, Arial;color:#FFFFFF;padding-top:20px;">
			News
			</h2>
		</div>
		<div class="col-md-12" style="background-color:#F5F5F5;margin-bottom:15px;margin-top:15px;" >
			<p >
				news
			</p>
		</div>
		<div class="col-md-12" style="background-color:#00868B;" >
		<h2 style="font-family: Impact, Arial;color:#FFFFFF;padding-top:20px;">
			Important Dates
			</h2>
		</div>
		<div class="col-md-12" style="background-color:#F5F5F5;margin-bottom:15px;margin-top:15px;" >
			<p >
				important dates
			</p>
		</div>
		<div class="col-md-12" style="background-color:#00868B;" >
		<h2 style="font-family: Impact, Arial;color:#FFFFFF;padding-top:20px;">
			Organzier
			</h2>
		</div>
		<div class="col-md-12" style="background-color:#F5F5F5;margin-bottom:15px;margin-top:15px;" >
			<p >
				organzier
			</p>
		</div>
		<div class="col-md-12" style="background-color:#00868B;" >
		<h2 style="font-family: Impact, Arial;color:#FFFFFF;padding-top:20px;">
			Official Sponsors
			</h2>
		</div>
		<div class="col-md-12" style="background-color:#F5F5F5;margin-bottom:15px;margin-top:15px;" >
			<p >
				Official sponsors
			</p>
		</div>
		<div class="col-md-12" style="background-color:#00868B;" >
		<h2 style="font-family: Impact, Arial;color:#FFFFFF;padding-top:20px;">
			Sponsors
			</h2>
		</div>
		<div class="col-md-12" style="background-color:#F5F5F5;margin-bottom:15px;margin-top:15px;" >
			<p >
				Sponsors
			</p>
		</div>
		
		</div>
		
		<div class="col-md-1" style="color:red;"></div>
		</div>
		
<!-- bottem-->


		
</div>
</body>
</html>